* {
  font-size: 12px;
  font-family: sans;
}

window#waybar {
  background: none;
  color: #fdf6e3;
}

#cpu,
#memory,
#network,
#battery,
#workspaces,
#pulseaudio,
#temperature,
#backlight,
#clock,
#mode,
#tray {
  background: #292b2e;
  border-radius: 26px;
  margin: 2px 5px 0px;
}

#network,
#clock,
#tray {
  color: #fdf6e3;
}

#workspaces {
  padding: 0 10px;
}

#workspaces button {
  color: #fdf6e3;
  padding: 2px;
}

#workspaces button.focused {
  color: #268bd2;
}

#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;

  padding: 0 5px;
  margin: 0 2px;

  text-shadow: inherit;
  box-shadow: inherit;
  border-radius: 26px;
}

#pulseaudio {
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
#temperature {
  color: #b58900;
}

#cpu,
#mode,
#memory,
#network,
#battery,
#temperature,
#pulseaudio,
#backlight,
#clock,
#tray {
  padding: 0 10px;
}
