* {
  font-size: 12px;
  font-family: sans;
}

window#waybar {
  background: none;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  font-size: 16px;
  color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  background: #1a1a1a;
  color: #292b2e;
}

#cpu,
#memory,
#network,
#battery,
#workspaces,
#pulseaudio,
#temperature,
#backlight,
#clock,
#mode,
#tray {
  background: #292b2e;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}
#workspaces button.focused {
  color: #268bd2;
}
#workspaces button:hover {
  text-shadow: inherit;
  box-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 5px;
}

#pulseaudio {
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
#temperature {
  color: #b58900;
}

#cpu,
#mode,
#memory,
#network,
#battery,
#temperature,
#pulseaudio,
#backlight,
#clock,
#tray {
  padding: 0 10px;
}
