configuration {
    display-run: "   ";
    display-drun: "  ";

    show-icons:true;
    icon-theme: "Fluent";

    modi: "combi";
    combi-modi: "window,drun,windowcd,run,ssh,keys,filebrowser";
}

@theme "AndresMpa"

 /* vim:ft=css
