configuration {
    theme: "AndresMpa";
    display-run: "   ";
    display-drun: "  ";

    show-icons:true;
    icon-theme: "Fluent";

    modi: "combi";
    combi-modi: "window,drun";
}

 /* vim:ft=css
