window {
  margin: 0px;
  border: 1px solid #6686c9;
  background-color: #0c0e15;
}

#input {
  margin: 5px;
  border: none;
  color: #89a55e;
  background-color: #07090d;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #0c0e15;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #0c0e15;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry:selected {
  background-color: #373b49;
  color: #599cb7;
}
