[Unit]
Description=Set ligth writable for every user, place this file at /etc/systemd/system
Before=nodered.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash -c "/bin/chmod a+w /sys/class/backlight/amdgpu_bl0/brightness"

[Install]
Alias=brightness-permission.service
WantedBy=multi-user.target
