[Unit]
Description=Set light writable for every user, place this file at /etc/systemd/system
Before=nodered.service

[Service]
User=root
Type=oneshot
ExecStart=/bin/bash -c "/bin/chmod a+w /sys/class/backlight/amdgpu_bl0/brightness"

[Install]
Alias=brightness-permission.service
WantedBy=multi-user.target
