[Unit]
Description=Update dotfiles service to last version

[Service]
Type=simple
RestartSec=10s
Restart=always
User=andresmpa
ExecStart=/usr/bin/env bash /home/andresmpa/Escritorio/dotfiles/updateDotfiles.sh 2> /dev/null

[Install]
WantedBy=multi-user.target
Alias=dotfiles.service
