[Unit]
Description=Init software to take care about my eyes

[Service]
Type=oneshot
User=andresmpa
ExecStart=/usr/bin/env bash /home/andresmpa/.config/scripts/careAboutMyself.sh 2> /dev/null

[Install]
WantedBy=multi-user.target
Alias=eyes-healt.service
